/*-----------------------------------------------------------
LOGO
-----------------------------------------------------------*/
.logo {
    margin-right: 0.8em;
}

/*-----------------------------------------------------------
NAVIGATION
-----------------------------------------------------------*/
.content {

    &__navigation {
        margin-bottom: 2em;
    }

    &__search {
        border-radius: 50px;
        width: 25em;
        border: 0 none;
        font-size: 14px;
        line-height: 14px;
        padding: 10px 16px;
        height: calc(1.3em + .75rem + 2px);
        margin: 0 auto 0 0;
    }

    &__past {
        display: flex;
        align-items: center;
        margin-right: 3em;
        position: relative;
    }

    &__day-format {
        font-weight: var(--font-bold);
        color: var(--primary-color);
        vertical-align: middle;
        margin-right: 0.25em;
    }

    &__add-bg {
        background-color: var(--accent-color);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/*-----------------------------------------------------------
TASK
-----------------------------------------------------------*/
.task {
    --todo-status-pause: hsl(47, 81%, 61%);
    --todo-status-play: hsl(244, 100%, 71%);
    --todo-status-done: hsl(151, 85%, 43%);

    &__current-day {
        color: var(--inactive-text);
        font-weight: var(--font-regular);
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    &__current {
        display: flex;
        align-items: center;
    }

    &__status-bg {
        background-color: var(--todo-status-done);
        border-radius: 50%;
        width: 2em;
        height: 2em;
        margin-right: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__name {
        color: var(--primary-color);
        font-weight: var(--font-regular);
        font-size: 1rem;
        margin-right: auto;
        cursor: pointer;
    }

    &__time {
        display: flex;
        align-items: center;
        margin-right: 10em;
    }

    &__timer {
        margin-right: 1em;
        width: 1rem;
    }

    &__current-time {
        color: var(--primary-color);
        font-weight: var(--font-regular);
        font-size: 0.9rem;
    }

    &__status-update {
        display: flex;
        align-items: center;
        margin-right: 1em;
        cursor: pointer;
    }

    &__status-text {
        color: var(--primary-color);
        font-weight: var(--font-regular);
        font-size: 0.9rem;
        margin-right: 0.5em;
    }

    &__settings {
        cursor: pointer;
    }

    &__todo-settings, 
    &__timer-settings-modal {
        position: relative;
    }

    

}

/*-----------------------------------------------------------
    TODO SETTING MODAL
    -----------------------------------------------------------*/
.settings-modal {

    position: absolute;
    background-color: var(--primary-color);
    padding: 0.5em 1em;
    width: 11em;
    right: 0;
    border-radius: var(--border-radius-modal);

    &--pos {
        right: -190px;
        top: -70px;
    }

    &--content {
        top: 40px;
    }

    &__text {
        color: var(--modal-heading);
        cursor: pointer;

        & + & {
            margin-top: 1em;
        }
    }
}


/*-----------------------------------------------------------
ADD TODO MODAL
-----------------------------------------------------------*/
.add-todo-modal {
    position: absolute;
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.75rem;
    border-radius: var(--border-radius-modal);
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: column;

    &--delete {
        justify-content: center;
        max-width: 540px;

        .add-todo-modal__heading {
            text-align: center;
            color: #ec2a2a;
            font-size: 1.7rem;
            margin-bottom: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: hsl(210, 9%, 31%);
        background-color: var(--primary-color);
        background-clip: padding-box;
        border: 2px solid hsl(210, 14%, 83%);
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-top: 0.5em;
    }

    &__button-container {
        display: flex;
        justify-content: flex-end;
        margin-top: 3em;
        align-items: center;

        &--center {
            justify-content: center;
        }
    }
}

/*-----------------------------------------------------------
BUTTON
-----------------------------------------------------------*/
.button {
    align-self: flex-end;
    border: none;
    border-radius: var(--border-radius-modal);
    padding: 0.7em 1em;
    cursor: pointer;

    &__primary {
        background-color: var(--accent-color);
        color: var(--primary-color);
        font-size: 0.875rem;
    }

    &--alert {
        background-color: #ec2a2a;
        border-color: #ec2a2a;
    }

    &--outline {
        border: 2px solid;
        border-color: var(--accent-color);
        background-color: var(--primary-color);
        color: var(--modal-heading);
        margin-right: 1em;
    }

    &--outline-alert {
        border: 2px solid;
        border-color: #ec2a2a;
        background-color: var(--primary-color);
        color: var(--modal-heading);
        margin-right: 1em;
    }

    
}

/*-----------------------------------------------------------
ICONS
-----------------------------------------------------------*/
.exit {
    cursor: pointer;
}