/*-----------------------------------------------------------
GRID
-----------------------------------------------------------*/
body {
    display: flex;

}

.container {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;

    &.row {
        display: flex;

        &--nav {
            align-items: center;

        }
    }

    &--sidebar {
        width: 75%;
    }
}

/*-----------------------------------------------------------
SIDEBAR
-----------------------------------------------------------*/
.sidebar {
    height: 100vh;
    width: 17%;
    background-color: var(--sidebar-bg);
    padding: 2em 0 0 0;
    border-right: 1px solid;
    border-color: var(--sidebar-border);
    position: relative;

    &__company-logo {
        display: flex;
        align-items: center;
        color: var(--primary-color);
        margin-bottom: 2em;
    }

    &__logo-title {
        text-transform: uppercase;
        font-weight: var(--font-bold);
        letter-spacing: 4px;
        font-size: 0.9rem;
    }
    
    &__statuses {
        position: relative;
        color: var(--inactive-text);
        font-weight: var(--font-regular);
        font-size: 0.9rem;
        cursor: pointer;

        display: flex;
        align-items: center;

        &--active {
            color: var(--primary-color);

            &::before {
                content: '';
                background-color: var(--accent-color);
                position: absolute;
                height: 3em;
                left: -40px;
                top: -15px;
                bottom: 0px;
                width: 4px;
                border-radius: 0px 6px 6px 0px;
            }
        }

        
    }

    &__total-tasks {
        &::before {
            content: '';
            display: inline-block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: var(--inactive-text);
            vertical-align: middle;
            margin: 0 0.3em;
        }
    }

    &__statuses + &__statuses {
        margin-top: 1.5em;
    }

    &__account {
        width: 100%;
        position: absolute;
        background-color: var(--account-bg);
        bottom: 0;
        border-top: 1px solid hsl(240, 2%, 13%);
        padding: 0.9rem 0;

        display: flex;
        align-items: center;
    }
    
    &__user-email {
        font-size: 0.875rem;
        color: var(--primary-color);
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 0.5em;
    }

    &__account-settings {
        transform: rotate(90deg);
        cursor: pointer;
    }

    &__user {

    }
}

/*-----------------------------------------------------------
MAIN CONTENT
-----------------------------------------------------------*/
.content {
    padding: 1em 0 0 0;
    height: 100vh;
    width: 83%;
    background-color: var(--main-content-bg);

    /*-----------------------------------------------------------
    NAVIGATION
    -----------------------------------------------------------*/
    &__navigation {


    }
}

