/*-----------------------------------------------------------
VARIABLES
-----------------------------------------------------------*/
:root {
  --primary-color: hsl(0, 0%, 100%);
  --accent-color: hsl(244, 100%, 71%);
  --main-content-bg: hsl(220, 5%, 12%);
  --sidebar-bg: hsl(240, 6%, 10%);
  --sidebar-border: hsl(240,4%,16%);
  --account-bg: hsl(240, 6%, 9%);
  --inactive-text: hsl(0, 0%, 54%);
  --input-text: hsl(208, 5%, 52%);
  --modal-heading: hsl(0, 0%, 7%);
  --modal-subheading: #2b2b2b;
  --primary-font: 'Inter', sans-serif;
  --font-bold: 700;
  --font-regular: 400;
}

/*-----------------------------------------------------------
BASIC STYLES
-----------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
  color: inherit;
}

/*-----------------------------------------------------------
GRID
-----------------------------------------------------------*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
}

.container.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.row--nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--sidebar {
  width: 75%;
}

/*-----------------------------------------------------------
SIDEBAR
-----------------------------------------------------------*/
.sidebar {
  height: 100vh;
  width: 17%;
  background-color: var(--sidebar-bg);
  padding: 2em 0 0 0;
  border-right: 1px solid;
  border-color: var(--sidebar-border);
  position: relative;
}

.sidebar__company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  margin-bottom: 2em;
}

.sidebar__logo-title {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 4px;
  font-size: 0.9rem;
}

.sidebar__statuses {
  position: relative;
  color: var(--inactive-text);
  font-weight: var(--font-regular);
  font-size: 0.9rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__statuses--active {
  color: var(--primary-color);
}

.sidebar__statuses--active::before {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  height: 3em;
  left: -35px;
  top: -15px;
  bottom: 0px;
  width: 4px;
  border-radius: 0px 6px 6px 0px;
}

.sidebar__total-tasks::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--inactive-text);
  vertical-align: middle;
  margin: 0 0.3em;
}

.sidebar__statuses + .sidebar__statuses {
  margin-top: 1.5em;
}

.sidebar__account {
  width: 100%;
  position: absolute;
  background-color: var(--account-bg);
  bottom: 0;
  border-top: 1px solid #202022;
  padding: 0.9rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__user-email {
  font-size: 0.875rem;
  color: var(--primary-color);
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0.5em;
}

.sidebar__account-settings {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
}

/*-----------------------------------------------------------
MAIN CONTENT
-----------------------------------------------------------*/
.content {
  padding: 1em 0 0 0;
  height: 100vh;
  width: 83%;
  background-color: var(--main-content-bg);
  /*-----------------------------------------------------------
    NAVIGATION
    -----------------------------------------------------------*/
}

/*-----------------------------------------------------------
LOGO
-----------------------------------------------------------*/
.logo {
  margin-right: 0.8em;
}

/*-----------------------------------------------------------
NAVIGATION
-----------------------------------------------------------*/
.content__navigation {
  margin-bottom: 2em;
}

.content__search {
  border-radius: 50px;
  width: 25em;
  border: 0 none;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 16px;
  height: calc(1.3em + .75rem + 2px);
  margin: 0 auto 0 0;
}

.content__past {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3em;
}

.content__day-format {
  font-weight: var(--font-bold);
  color: var(--primary-color);
  vertical-align: middle;
  margin-right: 0.25em;
}

.content__add-bg {
  background-color: var(--accent-color);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*-----------------------------------------------------------
TASK
-----------------------------------------------------------*/
.task {
  --todo-status-pause: hsl(47, 81%, 61%);
  --todo-status-play: hsl(244, 100%, 71%);
  --todo-status-done: hsl(151, 85%, 43%);
}

.task__current-day {
  color: var(--inactive-text);
  font-weight: var(--font-regular);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.task__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__status-bg {
  background-color: var(--todo-status-done);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.task__name {
  color: var(--primary-color);
  font-weight: var(--font-regular);
  font-size: 1rem;
  margin-right: auto;
  cursor: pointer;
}

.task__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10em;
}

.task__timer {
  margin-right: 1em;
  width: 1rem;
}

.task__current-time {
  color: var(--primary-color);
  font-weight: var(--font-regular);
  font-size: 0.9rem;
}

.task__status-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.task__status-text {
  color: var(--primary-color);
  font-weight: var(--font-regular);
  font-size: 0.9rem;
  margin-right: 0.5em;
}

.task__settings {
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */