// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
	font-family: inherit;
	box-sizing: border-box;
}

body {
	background-color: var(--clr-primary);
}

form {
	display: flex;
}