// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', sans-serif !default;

/// Main color accent
/// @type Color
$white: #fff !default;
$primary-text-color: 	#202020 !default;
$sidebar-background-color: #f5f5f5 !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': (  min-width: 320px ),
  'medium': ( min-width: 768px ),
  'large': ( min-width: 1024px ),
  'x-large': (min-width: 1540px ),
) !default;
