.toolbar {
    margin-right: 2rem;
    padding-top: 8rem;

    &__search {
        display: flex;
        align-items: center;
    }

    &__input {
        height: 4rem;
        border: none;
        border-bottom: 2px solid #dddddd;
        background-color: transparent;
        padding-left: 3rem;
        
        &::placeholder {
            font-size: 2rem;
            color: #e5e5e5;
            font-weight: 400;
        }
    }

    &__category-text {
        padding: 1em 0;
        
        &:hover {
            background-color: #ededed;
        }
    }

    &__task-categories, 
    &__lists {
        cursor: pointer;
        padding: 1rem;
        margin: 1rem 3rem;
    }

    &__add-task {
        margin-right: 0.7rem;
        width: 18px;
        height: 18px;
    }

    &__list-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &::before {
            content: '';
            border-radius: 50%;
            display: inline-block;
            background-color: #cc5c61;
            width: 10px;
            height: 10px;
            margin-right: 1rem;
        }
    }

    &__search-icon {
        margin-left: 2rem;
        margin-right: 2rem;
        stroke-width: 1;
    }

    &__create-list {
        font-size: 1rem;
    }

    &__create {
        display: flex;
        align-items: center;
        color: #9f9f9f;
    }

    &__menu {
        margin-left: 3rem;
        margin-top: 7rem;
        cursor: pointer;
    }

    &__list-indicator {
        border-bottom: 1px solid #9f9f9f;
        margin-left: 3rem;
        color: #9f9f9f;
        font-size: 1rem;
    }
}