.task-container {
    margin: 1rem 0;
}

.task-card {
    cursor: pointer;
    display: grid;
    grid-template-columns: 60% 1fr;

    &__name {
        font-size: 1rem;
        font-weight: 400;
        color: darken($white, 30%);
    }

    &__info {
        @include flex-between;
    }

    &:hover {
        background-color: darken($white, 3%);
    }
}

.priority {

    &__type {
        font-weight: 400;
        font-size: 1rem;

        &::before {
            content: '';
            display: inline-block;
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            background-color: $lightGray;
            margin-right: 0.6rem;
        }
    }
}

.extra-info {
    @include flex-between;

    > svg {
        margin-right: 1rem;
    }
}

.options {
    @include flex-between;

    &__trash {
        stroke: $tiffany;
    }

}