%info {
    padding: 0.3rem;
    border-radius: 3px;
}

.info__total {
    @extend %info;
    background-color: $total;
    color: darken($total,  50%);
}

.info__success {
    @extend %info;
    background-color: $success;
    color: darken($success, 50%);
}

.info__pending {
    @extend %info;
    background-color: $pending;
    color: darken($pending, 50%);
}